.card {
    width: 250px;
    height: 370px;
    margin: 2em;
}

.roundBorders {
    border-radius: 1em;
}

.electric {
    background-image: url(../../assets/background-electric.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5em solid rgb(250, 194, 16);
    padding: 0.8em;
}

.fire {
    background-image: url(../../assets/background-fire.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5em solid rgb(250, 194, 16);
    padding: 0.8em;
}

.water {
    background-image: url(../../assets/background-water.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5em solid rgb(250, 194, 16);
    padding: 0.8em;
}

.grass {
    background-image: url(../../assets/background-grass.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5em solid rgb(250, 194, 16);
    padding: 0.8em;
}

.flexCol {
    display: flex;
    flex-direction: column;
}